<!-- THIS IS THE HOME PAGE -->

<div class="section_one" data-0="filter: blur(0px);" data-500="filter: blur(5px);">
<div class="row">
  <div class="small-12 large-6 columns">
  <h1>#ThisCouldBeMe</h1>
  <button><%= link_to "Take the quiz", quiz_path %></button>
</div>
</div>

<div class="row">
<div class="small-12 large-6 columns">
  <h2>Isaiah, 14, Coder.</h2>
  </div>
</div>
</div>

<div class="section_two">
  <div class="row header">
  <div class="large-6 columns ">
     <h1>Mentors</h1>
   </div>
 </div>
<div class="row">
  <div class="large-8 large-offset-2 columns thumbnail">
    <div class="profile_image_div">
      <img src="http://www.echoinggreen.org/sites/default/files/Echoing-Green-Fellow-1994-Van-Jones-2.jpg" class="profile_image"></img>
    </div>
    <div class="profile_description">
      <h2> Superman </h2>

      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-8 large-offset-2 columns thumbnail">
    <div class="profile_image_div">
      <img src="http://www.echoinggreen.org/sites/default/files/Echoing-Green-Fellow-1994-Van-Jones-2.jpg" class="profile_image"></img>
    </div>

    <div class="profile_description">

      <h2> Superman </h2>

      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
    </div>
  </div>
</div>
</div>



