<!-- THIS IS THE HOME PAGE -->

<div class="section_one" data-0="filter: blur(0px);" data-500="filter: blur(5px);">
<div class="row">
  <div class="small-12 large-6 columns">
  <h1>#ThisCouldBeMe</h1>
  <button><%= link_to "Take the quiz", quiz_path %></button>
</div>
</div>

<div class="row">
<div class="small-12 large-6 columns">
  <h2>Isaiah, 14, Coder.</h2>
  </div>
</div>
</div>

<div class="section_two">
  <div class="row header">
  <div class="large-6 columns ">
     <h1>Mentors</h1>
   </div>
 </div>
<div class="row">
  <div class="large-8 large-offset-2 columns thumbnail">
    <div class="profile_image_div">
      <img src="http://www.echoinggreen.org/sites/default/files/Echoing-Green-Fellow-1994-Van-Jones-2.jpg" class="profile_image"></img>
    </div>
    <div class="profile_description">
      <a href="/mentors/5"><h2> Superman </h2></a>

      <p>Van Jones is the co-host of Crossfire on CNN, and VanJones.net is his official site and the digital home of the #TeamVan community. Van Jones is also the President and co-founder of Rebuild the Dream, a platform for bottom-up, people-powered innovations to help fix the U.S. economy. A Yale-educated attorney, Van has written two New York Times Best Sellers: The Green Collar Economy, the definitive book on green jobs, and Rebuild the Dream, a roadmap for progressives in 2012 and beyond.
</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-8 large-offset-2 columns thumbnail">
    <div class="profile_image_div">
      <img src="https://lh3.googleusercontent.com/-9K38rog_vOE/AAAAAAAAAAI/AAAAAAAAGUk/PnPHWGaqva0/photo.jpg" class="profile_image"></img>
    </div>

    <div class="profile_description">

      <h2> Kalimah Priforce </h2>

      <p>A Hackademic from (Bedford-Stuyvesant) Brooklyn NY, Kalimah Atreyu Priforce is a madman on a mission to transform children's lives as co-founder at Qeyno Labs.Qeyno Labs works with local partners and schools to close the STEM diversity gap in K-12 education by transforming the interests of under-served youth into STEM career pathways using web and mobile-based technology.
      <a href="#" data-reveal-id="myModal" data-reveal>view his story!</a>
    </p>

    </div>
  </div>
</div>
</div>

<div id="myModal" class="reveal-modal" data-reveal>
  <h2>Kalimah Priceforce</h2>
        <video width="520" height="415" controls>
<<<<<<< HEAD
  <source src="/video/TestProject.m4v" type="video/x-m4v">
=======
>>>>>>> gh-pages
</video>
  <a class="close-reveal-modal">&#215;</a>
</div>


