<!-- this is the quiz-->

<div class="quiz_container">
<ul class="example-orbit-content" data-orbit>
  <li data-orbit-slide="headline-1">
    <div>
      <label>What's your favorite subject in school?</label>
      <input type="radio" name="subject" value="science" id="subjectScience"><label for="subjectScience">Science</label><br/>
      <input type="radio" name="subject" value="math" id="subjectMath"><label for="subjectMath">Math</label><br/>
      <input type="radio" name="subject" value="english" id="subjectEnglish"><label for="subjectEnglish">English</label><br/>
      <input type="radio" name="subject" value="art" id="subjectArt"><label for="subjectArt">Art</label>
    </div>
  </li>
  <li data-orbit-slide="headline-2">
    <div>
      <label>What’s your personality?</label>
      <input type="radio" name="personality" value="Enthusiastic" id="personalityEnthusiastic"><label for="personalityEnthusiastic">Enthusiastic</label><br/>
      <input type="radio" name="personality" value="Assertive" id="personalityAssertive"><label for="personalityAssertive">Assertive</label><br/>
      <input type="radio" name="personality" value="Creative" id="personalityCreative"><label for="personalityCreative">Creative</label><br/>
      <input type="radio" name="personality" value="Funny" id="personalityFunny"><label for="personalityFunny">Funny</label>
    </div>
  </li>
  <li data-orbit-slide="headline-3">
    <div>
      <label>What super power would you like to have?</label>
      <input type="radio" name="superpower" value="Invisibility" id="superpowerInvisibility"><label for="superpowerInvisibility">Invisibility</label><br/>
       <input type="radio" name="superpower" value="Super_strength" id="superpowerSuperstrength"><label for="superpowerSuperstrength">Super strength</label><br/>
        <input type="radio" name="superpower" value="Flying" id="superpowerFlying"><label for="superpowerFlying">Flying</label><br/>
        <input type="radio" name="superpower" value="Mind_reading" id="superpowerMindreading"><label for="superpowerMindreading">Mind-reading</label><br/>
    </div>
  </li>
  <li data-orbit-slide="headline-4">
    <div>
      <label>Choose Your Favorite</label>
      <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Red</label><br/>
      <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Blue</label>
    </div>
  </li>
  <li data-orbit-slide="headline-5">
    <div>
      <label>Choose Your Favorite</label>
      <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Red</label><br/>
      <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Blue</label>
    </div>
  </li>
</ul>
<div class="small-6 large-6 large-offset-5 small-offset-5 columns">
    <button><%= link_to "Results", '/mentors/5' %></button>
  </div>
</div>
