<!-- this is the quiz-->
<div class="quiz_container">
<div data-alert class="alert-box success radius">
  Note: this is a demo and the quiz isn't currently working!

  You can click "results" to see a profile.

  The quiz is a personality test which would basically match the quiz-taker to a role model's profile in our database.
  <a href="#" class="close">&times;</a>
</div>
<ul>
  <li>
    <div class="dark">
      <label>What's your favorite subject in school?</label>
      <input type="radio" name="subject" value="science" id="subjectScience"><label for="subjectScience">Science</label><br/>
      <input type="radio" name="subject" value="math" id="subjectMath"><label for="subjectMath">Math</label><br/>
      <input type="radio" name="subject" value="english" id="subjectEnglish"><label for="subjectEnglish">English</label><br/>
      <input type="radio" name="subject" value="art" id="subjectArt"><label for="subjectArt">Art</label>
    </div>
  </li>
  <li>
    <div class="light">
      <label>What’s your personality?</label>
      <input type="radio" name="personality" value="Enthusiastic" id="personalityEnthusiastic"><label for="personalityEnthusiastic">Enthusiastic</label><br/>
      <input type="radio" name="personality" value="Assertive" id="personalityAssertive"><label for="personalityAssertive">Assertive</label><br/>
      <input type="radio" name="personality" value="Creative" id="personalityCreative"><label for="personalityCreative">Creative</label><br/>
      <input type="radio" name="personality" value="Funny" id="personalityFunny"><label for="personalityFunny">Funny</label>
    </div>
  </li>
  <li>
    <div class="dark">
      <label>What super power would you like to have?</label>
      <input type="radio" name="superpower" value="Invisibility" id="superpowerInvisibility"><label for="superpowerInvisibility">Invisibility</label><br/>
       <input type="radio" name="superpower" value="Super_strength" id="superpowerSuperstrength"><label for="superpowerSuperstrength">Super strength</label><br/>
        <input type="radio" name="superpower" value="Flying" id="superpowerFlying"><label for="superpowerFlying">Flying</label><br/>
        <input type="radio" name="superpower" value="Mind_reading" id="superpowerMindreading"><label for="superpowerMindreading">Mind-reading</label><br/>
    </div>
  </li>
  <li>
    <div class="light">
      <label>Choose Your Favorite</label>
      <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Red</label><br/>
      <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Blue</label>
    </div>
  </li>
  <li>
    <div class="dark">
      <label>Choose Your Favorite</label>
      <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Red</label><br/>
      <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Blue</label>
    </div>
  </li>
</ul>
<div class="small-6 large-6 large-offset-5 small-offset-5 columns results">
    <h4><%= link_to "Results", '/mentors/5' %></h4>
  </div>
</div>
