// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);

$transition-values: all, 500ms, ease-out;

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

// LANDING PAGE

p, a{
  font-family: 'Oswald', sans-serif;
}

h1, h2, h4{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

.section_one{
  height: 100%;
  width: 100%;
  position: fixed;
  padding-top: 150px;
  background-image: url("bck.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section_one h1{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: #c0392b;
  font-size: 60px;
}


.info h2{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 30px;
}



.section_one a{
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
}

.section_two{
  position: relative;
  height: auto;
  width: 100%;
  margin-top: 650px;
  padding-top: 80px;
  padding-bottom: 30px;
  background-color: rgb(245, 245, 245);
  text-align: center;
}

.section_two h1{
  color:  #c0392b;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

.section_two a{
  @include transition($transition-values...);
  color: black;
}
.section_two a:hover {
  color: white;
}

.thumbnail{
  margin-top: 20px;
  background-color: rgb(206, 206, 206);
  border-radius: 5px;
}

.header{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}


.profile_image_div{
  float: right;
  margin-top: 20px;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background-position: center;
  background-size: cover;
}

.profile_image_div_van{
  @extend .profile_image_div;
  background-image: url("van.gif");
}

.profile_image_div_kam{
  @extend .profile_image_div;
  background-image: url("kam.jpg");
}

.profile_description{
  float: left;
  text-align: left;
  width: 400px
}

button{
  background-color:black;
  border-radius: 20px;
}

button:hover{
  background-color: #c0392b;
}

#myModal{
  text-align: center;
}


//QUIZ
.quiz_container{
  background-image: url("bck.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: scroll;
}


label{
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}


.dark{
  background-color: rgba(245, 245, 245, 0.8);
}

.light{
  background-color: rgba(245, 245, 245, 0.4)
}

.results{
  bottom: 70px;
}

