// Place all the styles related to the mentors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//PROFILE PAGE


.profile_top{
  height: 300px;
  width: 100%;
  text-align: center;
}

.background_image{
  height: 300px;
  width: 100%;
  background-image: url("van.gif");
  background-position:50% 20%;
  background-repeat: no-repeat;
  background-size: cover;
}

.single_profile_image{
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background-image: url("van.gif");
  background-position: center;
  background-size: cover;
  border: rgba(160, 161, 162, 0.4) solid 20px;
}

.profile_details{
  height: 800px;
  width: 100%;
  top: -70px;
  position: relative;
}

.top{
  top: -100px;
}

.general_information{
  text-align: center;
}

.timeline_section{
  margin-top: 30px;
}